body{
  background-color: rgb(12, 12, 11);
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px auto) ;
  min-height: 100vh;
  gap:4px;
}
.container header{
  grid-column: 1/-1;
  grid-row: 1;
  border-radius: 10px;
  height: auto;
}
.container aside{
  grid-row: 2/4;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.container main{
  border-radius: 5px;
  border: 1px solid #53a396;
  grid-column: span 2;
  grid-row: 2/4;
}
.container footer{
  background-color: rgb(151, 114, 114);
  grid-column: 1/-1;
}
.divheader{
  display: flex;
  justify-content: center;
  gap: 3px;
}
.overHeader{
  display: grid;
  grid-template-columns: 33.2% auto;
  grid-auto-rows: minmax(50px auto) ;
  min-height: 71%;
  gap:5px;
}
.im{
border-radius: 5px;
overflow: hidden;
width: 100%;
}
.mi{
  display: grid;
  place-items: center;
  border: 1px solid #69f0da;
border-radius: 5px;
overflow: hidden; /*oculta cualquier parte de una imagen que salga del div*/
}

.im img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 7px;
  margin-top: 0;
  opacity: 70%;
}
.btn{
  border-radius: 5px;
  color: blueviolet;
  border: none;
  margin-top: 2px;
  cursor: pointer;
}
.txt-ctr{
  width: 100%;
  border-radius: 5px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: beige;
  display: grid;
  height: auto;
  padding: 2px; /*Añade un espacio al rededor del h1,div, etc*/
  
}
.txt-ctr h1{
  margin: 0;
  padding: 5px 30px;
}
.item{
  height: 80px;
  height: 80px;
}
.icons{
  color: rgb(183, 42, 198);
}
.img{
  display: block;
  margin: auto;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  
}
.carrousel {
  margin-top: 2px;
  
  grid-auto-rows: minmax(100px, auto);
  display: flex;
  flex-direction:column;
  gap: 3px;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: rgb(8, 38, 65);
}
.otro{
  color: #53a396;
}
.mostrarcv{
  display: flex;
  justify-content: center;
  align-items: center;

}
.top-left-button{
  position: absolute;
  top: 0;
  left: 95%;
  margin: 1.6%;
  background-color: red;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white !important;
}
.carrousel-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ajusta la altura del contenedor al 100% del alto de la pantalla */
  
}
.carrousel-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-top: 6%;
  border-radius: 10px;
}
.carrousel-content1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 10px;
}
.imgwork{
  border-radius: 10px;
  
}

.carrousel-container1 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ajusta la altura del contenedor al 100% del alto de la pantalla */
  
}

/* Popup.css */

.popup-overlay {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: grid;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
  position: fixed;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red !important;
  
}
.close-button:hover {
  color: rgb(153, 187, 223); /* Cambia el color al pasar el ratón por encima */
}
.conte1{
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: beige;
  display: grid;
  height: auto;
  height: 20%;
  /*padding: 0; /*Añade un espacio al rededor del h1,div, etc*/ 
}
.proyectos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  color: white;
  background-color: withe;
}
/*@media screen and (max-width: 850) {
 body{
  container: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(30px, auto);
 } 
 .container header{
  grid-row: 2;
  border-radius: 5px;
 }
}
*/